#head{
	font-family:"arial";
	color: #4b4d51;
	margin-left:20px;
  font-size: 28px;
	 
}

#head1{
  font-family:"arial";
  color: #4b4d51;
  margin-left:20px;
  font-size: 20px;
}
 
hr{
	 
	margin-left: 37px;
    margin-right: 37px;
}
#div1{
	margin-left: 182px;
  font-family: arial;
  font-size: 17px;
}
#div1 input[type=text]{
	padding-right: 58px;
margin-left: 0px;
}
 #div1 input[type=radio]{
 	margin-left: 76px;
 }
 #select
 {
       margin-left: 77px;
    padding-right: 148px;
}
#div2{
	 
	color:#919399;
	text-align: center;
	margin-left: -152px;
}
 
#btn2{
	background-color: #11649b;
	margin-left: 30px;
}
 #btn3{
	background-color: #2fc69e;
	margin-left: 30px;
}
.btn{
	    padding-left: 6px;
    padding-top: 3px;
    padding-right: 10px;
    border-radius: 10px;
    cursor: pointer;
    padding-bottom: 8px;
    font-size: 20px;
    color: white;
}
#inputicon input[type=text]{
padding-left: 40px;
margin-top: -27px;
}
#inputicon{
	position: relative;
}
#inputicon i{
	left: 39px;
margin-top: 8px;
margin-left: -33px;
position: relative;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
 margin-left: 35px;
margin-top: 7px;
}

.switch input {display:none;}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
#div9 input[type=checkbox]{

}

.container {
    display: block;
    position: relative;
    padding-left: 115px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 13px;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #c2d1e8;
    border-radius: 50%;
    margin-left: 77px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

 


.container1 {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 42px;
}

/* Hide the browser's default checkbox */
.container1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #c2d1e8;
}

/* On mouse-over, add a grey background color */
.container1:hover input ~ .checkmark1 {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container1 input:checked ~ .checkmark1 {
  background-color: #2196F3;
}

 /* Create the checkmark/indicator (hidden when not checked) */
.checkmark1:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container1 input:checked ~ .checkmark1:after {
  display: block;
}

/* Style the checkmark/indicator */
.container1 .checkmark1:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} 